body {
  font-family: Verdana, sans-serif;
  line-height: 1.7;
  background-color: #202b28;
}

h2 {
  color: #b9d6c0;
  font-size: 20px;
}

p {
  color: whitesmoke;
  font-size: 16px;
}

.perkenalan {
  color: #e0d3b5;
  font-weight: bold;
}

.motto {
  color: #f1d590;
  font-weight: bold;
}

#judul-profil {
  color: lightgreen;
  font-size: 30px;
  text-align: left;
}
